
<p>
  This is a visualization of stable orbital zones for bodies orbiting binary stars, as described in the linked paper by Jamie L, et. al.
</p>
<p>
  The red and blue circles are the stable regions for planets around each individual star.
</p>
<p>
  The cyan region is the region where planets can orbit both stars. A planet in the white zone will be unstable.
</p>

<label>M1:<input type="number" min="0." step = "0.01" [(ngModel)]="m1" (input)="recalc()"/></label>
<label>M2:<input type="number" min="0" step = "0.01" [(ngModel)]="m2" (input)="recalc()"/></label>
<label>Ecc:<input type="number" min="0" max="1" step = "0.01" [(ngModel)]="ecc" (input)="recalc()"/></label>
<br>
<svg width="600" height="600" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <rect fill="cyan" x="0" y="0" height="600" width="600"/>
    <circle fill="white" [attr.cx]="com" cy="300" [attr.r]="rcb*100" />
    <circle fill="red" cx="350" cy="300" [attr.r]="r2*100" />
    <circle fill="blue" cx="250" cy="300" [attr.r]="r1*100" />
</svg>
